global:
  checkNewVersion: true
  sendAnonymousUsage: false
api:
  dashboard: true
  insecure: true

entryPoints:
  web:
    address: ":80"
    http:
      redirections:
        entryPoint:
          to: websecure
          scheme: https
          permanent: true
  
  websecure:
    address: ":443"
    http:
      tls:
        certResolver: letsencrypt

providers:
  docker:
    endpoint: "unix:///var/run/docker.sock"
    exposedByDefault: false
    network: traefik

  file:
    directory: /etc/traefik/dynamic
    watch: true

experimental:
  plugins:
    traefik-modsecurity-plugin:
      moduleName: github.com/acouvreur/traefik-modsecurity-plugin
      version: v1.3.0

# Let's Encrypt Certificate Configuration
certificatesResolvers:
  letsencrypt:
    acme:
      email: ea.cloudhost@gmail.com  # CHANGE THIS to your email
      storage: /letsencrypt/acme.json
      # Use staging for testing, comment out for production
      # caServer: https://acme-staging-v02.api.letsencrypt.org/directory
      httpChallenge:
        entryPoint: web

log:
  level: INFO

accessLog:
  format: json
  filePath: "/var/log/traefik/access.log"